/* VARIABLES */

// colors

$color-white: #FFFFFF;
$color-turquoise: #00EFF2;


// backgrounds

$bg-white: #FFFFFF;
$bg-turquoise: #00c8aa;
$bg-black: #000000;
$bg-bluegray: #2D3F57;


// font families

$font-oswald: 'Oswald', sans-serif;
$font-roboto: 'Roboto', sans-serif;
